sources/NodeRED/flows_NodeRED.json
[
    {
        "id": "de625fbe.57a",
        "type": "tab",
        "label": "MyApp",
        "disabled": false,
        "info": ""
    },
    {
        "id": "203dfe43.669e32",
        "type": "ui_date_picker",
        "z": "de625fbe.57a",
        "name": "",
        "label": "Date",
        "group": "61344cd1.574d24",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "c4461f7f.24ae4"
            ]
        ]
    },
    {
        "id": "a9b81bf7.03eec8",
        "type": "ui_text",
        "z": "de625fbe.57a",
        "group": "61344cd1.574d24",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 890,
        "y": 900,
        "wires": []
    },
    {
        "id": "84224ccb.c80c1",
        "type": "ui_text",
        "z": "de625fbe.57a",
        "group": "61344cd1.574d24",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Min value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 880,
        "y": 960,
        "wires": []
    },
    {
        "id": "d3d3b63f.c78448",
        "type": "ui_text",
        "z": "de625fbe.57a",
        "group": "61344cd1.574d24",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Number of failures",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 910,
        "y": 1020,
        "wires": []
    },
    {
        "id": "888368a7.38f3b8",
        "type": "ui_gauge",
        "z": "de625fbe.57a",
        "name": "",
        "group": "1003bc74.c3ce14",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Real time",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "460",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "207",
        "seg2": "253",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "683f677.9d26998",
        "type": "mysql",
        "z": "de625fbe.57a",
        "mydb": "a5b72d50.76499",
        "name": "",
        "x": 360,
        "y": 480,
        "wires": [
            [
                "7f020913.2994e8"
            ]
        ]
    },
    {
        "id": "a533bd0f.2cf24",
        "type": "mqtt in",
        "z": "de625fbe.57a",
        "name": "Mosca",
        "topic": "sensorDB",
        "qos": "0",
        "datatype": "auto",
        "broker": "581e17e.6e930e8",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "7f020913.2994e8",
                "5e259ca0.32f924"
            ]
        ]
    },
    {
        "id": "5e259ca0.32f924",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "readData",
        "func": "msg.topic = \"SELECT * FROM myTable ORDER BY Id DESC LIMIT 1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 480,
        "wires": [
            [
                "683f677.9d26998"
            ]
        ]
    },
    {
        "id": "c7676f04.388da",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "splitMax",
        "func": "if(msg.payload[0] !== undefined) {\n   msg.payload = Math.floor(msg.payload[0]['valMax']);\n} else{\n    msg.payload = \"No data recorded!\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 900,
        "wires": [
            [
                "a9b81bf7.03eec8"
            ]
        ]
    },
    {
        "id": "ebc0fb15.f68168",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "splitMin",
        "func": "if(msg.payload[0] !== undefined) {\n   msg.payload = Math.floor(msg.payload[0]['valMin']);\n} else{\n    msg.payload = \"No data recorded!\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 960,
        "wires": [
            [
                "84224ccb.c80c1"
            ]
        ]
    },
    {
        "id": "4b578f55.df7b2",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "splitNoFails",
        "func": "if(msg.payload[0] !== undefined) {\n   msg.payload = msg.payload[0]['numberFails'];\n} else{\n    msg.payload = \"No data recorded!\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1020,
        "wires": [
            [
                "d3d3b63f.c78448"
            ]
        ]
    },
    {
        "id": "1042adc7.462592",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "updateMaxVal",
        "func": "let oldValMax = 0;\nvar newValMax = parseFloat(msg.payload[0]); //val  from sensor\n\nif(msg.payload[1][0] !== undefined ){\n     oldValMax = parseFloat(msg.payload[1][0].valMax);//val max from DB\n}\n\nvar d = new Date();\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nvar currentDate = year+\"-\"+ monthformat +\"-\"+ day;// the value for date\n\nif(newValMax > oldValMax){\n    msg.topic = \"INSERT INTO myTable (valMax, date) VALUES (?, ?) ON DUPLICATE KEY UPDATE valMax = \" + newValMax  ;\n    msg.payload = [newValMax, currentDate];\n      \n    }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "96e33af8.ae0358"
            ]
        ]
    },
    {
        "id": "de2e3cb6.96024",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "updateMinVal",
        "func": "let oldValMin = 0;\nvar newValMin = parseFloat(msg.payload[0]);\n\n\nif(msg.payload[1][0] !== undefined ){\n     oldValMin = parseFloat(msg.payload[1][0].valMin);// old min \n}\n\nvar d = new Date();\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nvar currentDate = year+\"-\"+ monthformat +\"-\"+ day;// the value for date\n\nif(newValMin < oldValMin){\n    msg.topic = \"INSERT INTO myTable (valMin, date) VALUES (?, ?) ON DUPLICATE KEY UPDATE valMin = \" + newValMin  ;\n    msg.payload = [newValMin, currentDate];\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 400,
        "wires": [
            [
                "96e33af8.ae0358"
            ]
        ]
    },
    {
        "id": "7f020913.2994e8",
        "type": "join",
        "z": "de625fbe.57a",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "1042adc7.462592",
                "de2e3cb6.96024",
                "187e78e0.522ba7",
                "cc1bb0d.04c7d5",
                "acd4fab5.ea73e8",
                "a0ca9847.c35cc8"
            ]
        ]
    },
    {
        "id": "c4461f7f.24ae4",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "dateFormart",
        "func": "var d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\n\nif(monthformat.toString().length < 2)\n   monthformat= \"0\"+monthformat;\n   \nif(day <= 9 )\n   day= \"0\"+ day;   \n\nvar year = d.getFullYear();\nmsg.payload = year+\"-\"+ monthformat +\"-\"+ day ;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 960,
        "wires": [
            [
                "5d3d91ee.caf65"
            ]
        ]
    },
    {
        "id": "98ac0dce.c6c86",
        "type": "mysql",
        "z": "de625fbe.57a",
        "mydb": "a5b72d50.76499",
        "name": "",
        "x": 520,
        "y": 960,
        "wires": [
            [
                "c7676f04.388da",
                "ebc0fb15.f68168",
                "4b578f55.df7b2",
                "c07f029e.248eb"
            ]
        ]
    },
    {
        "id": "5d3d91ee.caf65",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "readData",
        "func": "var d = msg.payload;\n\nmsg.topic = \"SELECT * FROM myTable WHERE date like '%\"+d+\"%'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 960,
        "wires": [
            [
                "98ac0dce.c6c86"
            ]
        ]
    },
    {
        "id": "79db1467.f1494c",
        "type": "ui_chart",
        "z": "de625fbe.57a",
        "name": "Voltage Chart",
        "group": "1d32d389.5528bc",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "160",
        "ymax": "260",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 620,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "adf22a0b.d93138",
        "type": "mosca in",
        "z": "de625fbe.57a",
        "mqtt_port": "1884",
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 910,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6d2613f0.cece2c",
        "type": "mqtt in",
        "z": "de625fbe.57a",
        "name": "Mosca",
        "topic": "sensorDB",
        "qos": "0",
        "datatype": "auto",
        "broker": "581e17e.6e930e8",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "79db1467.f1494c",
                "866f316f.e099a"
            ]
        ]
    },
    {
        "id": "96e33af8.ae0358",
        "type": "mysql",
        "z": "de625fbe.57a",
        "mydb": "a5b72d50.76499",
        "name": "",
        "x": 1020,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "866f316f.e099a",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "Integer Value",
        "func": "var x = parseFloat(msg.payload)\nmsg.payload = Math.floor(x);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "888368a7.38f3b8"
            ]
        ]
    },
    {
        "id": "187e78e0.522ba7",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "updateNumberOfFails",
        "func": "let numberOfFails = 0;\nvar newVal = parseFloat(msg.payload[0]); //val  from sensor\n\nif(msg.payload[1][0] !== undefined ){\n     numberOfFails = parseFloat(msg.payload[1][0].numberFails);\n}\n\nvar d = new Date();\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nvar currentDate = year+\"-\"+ monthformat +\"-\"+ day;// the value for date\n\nif(newVal <= 207 || newVal >= 253){\n    numberOfFails++;\n    msg.topic = \"INSERT INTO myTable (numberFails, date) VALUES (?, ?) ON DUPLICATE KEY UPDATE numberFails = \" + numberOfFails ;\n    msg.payload = [numberOfFails, currentDate];\n    \n    }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 480,
        "wires": [
            [
                "96e33af8.ae0358"
            ]
        ]
    },
    {
        "id": "a0ca9847.c35cc8",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "Mail",
        "func": "var newVal = parseFloat(msg.payload[0]); //val  from sensor\n\nif(newVal <= 200 || newVal >= 300){\n    msg.topic = \"The emercency alert!\" ;\n    msg.payload =\"Dear User,\\n I want to inform you that the voltage in your house is low or high.\\nThe current voltage is: \" + newVal + \"\\nPlease check the value also in the app.\\nRegards, Your home app.\";\n    return msg;\n}else{\n    return null;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 640,
        "wires": [
            [
                "aad11d2a.cf6fb"
            ]
        ]
    },
    {
        "id": "cc1bb0d.04c7d5",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "currentValue",
        "func": "let oldVal = 0;\nvar newVal = parseFloat(msg.payload[0]); //val  from sensor\n\nif(msg.payload[1][0] !== undefined ){\n     oldVal = parseFloat(msg.payload[1][0].currentVal);//value from DB\n}\n\nvar d = new Date();\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nvar currentDate = year+\"-\"+ monthformat +\"-\"+ day;// the value for date\n\n\nmsg.topic = \"INSERT INTO myTable (currentVal, date) VALUES (?, ?) ON DUPLICATE KEY UPDATE currentVal = \" + newVal;\nmsg.payload = [newVal, currentDate];\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "96e33af8.ae0358"
            ]
        ]
    },
    {
        "id": "c07f029e.248eb",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "Number of drop-outs",
        "func": "if(msg.payload[0] !== undefined) {\n   msg.payload = msg.payload[0]['numberOfDropOuts'];\n} else{\n    msg.payload = \"No data recorded!\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 1100,
        "wires": [
            [
                "fe434f6f.264f5"
            ]
        ]
    },
    {
        "id": "fe434f6f.264f5",
        "type": "ui_text",
        "z": "de625fbe.57a",
        "group": "61344cd1.574d24",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Number of drop-outs",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1000,
        "y": 1100,
        "wires": []
    },
    {
        "id": "acd4fab5.ea73e8",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "updateNumberofDropOuts",
        "func": "let counterOfDropOuts = 0;\nvar newVal = parseFloat(msg.payload[0]); //val  from sensor\n\nif(msg.payload[1][0] !== undefined ){\n     counterOfDropOuts = parseFloat(msg.payload[1][0].numberofDropOuts);\n}\n\nvar d = new Date();\nvar day = d.getDate();\nvar month = d.getMonth();\nvar monthformat = month + 1;\nvar year = d.getFullYear();\nvar currentDate = year+\"-\"+ monthformat +\"-\"+ day;// the value for date\n\nif(newVal <= 50) {\n    counterOfDropOuts++;\n    msg.topic = \"INSERT INTO myTable (numberofDropOuts, date) VALUES (?, ?) ON DUPLICATE KEY UPDATE numberofDropOuts = \" + counterOfDropOuts ;\n    msg.payload = [counterOfDropOuts, currentDate];\n    \n    }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 540,
        "wires": [
            [
                "96e33af8.ae0358"
            ]
        ]
    },
    {
        "id": "beed5ae7.edb408",
        "type": "ui_text",
        "z": "de625fbe.57a",
        "group": "88aaa84c.c46678",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Low Voltage Threshold",
        "format": "207Vrms",
        "layout": "row-spread",
        "x": 1100,
        "y": 920,
        "wires": []
    },
    {
        "id": "e4fe327f.1289",
        "type": "ui_text",
        "z": "de625fbe.57a",
        "group": "88aaa84c.c46678",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "High Voltage Threshold",
        "format": "253Vrms",
        "layout": "row-spread",
        "x": 1110,
        "y": 980,
        "wires": []
    },
    {
        "id": "6e505692.e78d58",
        "type": "ui_text",
        "z": "de625fbe.57a",
        "group": "88aaa84c.c46678",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Drop out Threshold",
        "format": "50Vrms",
        "layout": "row-spread",
        "x": 1110,
        "y": 1040,
        "wires": []
    },
    {
        "id": "62ddddcd.30f004",
        "type": "function",
        "z": "de625fbe.57a",
        "name": "exportData",
        "func": "msg.topic = \"SELECT * FROM myTable WHERE 1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 1260,
        "wires": [
            [
                "276b513f.03d1ae"
            ]
        ]
    },
    {
        "id": "276b513f.03d1ae",
        "type": "mysql",
        "z": "de625fbe.57a",
        "mydb": "a5b72d50.76499",
        "name": "",
        "x": 500,
        "y": 1260,
        "wires": [
            [
                "820311a2.a54d2"
            ]
        ]
    },
    {
        "id": "820311a2.a54d2",
        "type": "csv",
        "z": "de625fbe.57a",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": true,
        "multi": "one",
        "ret": "\\n",
        "temp": "Id,currentVal,valMax,valMin,numberFails,numberOfDropOuts,date",
        "skip": "0",
        "strings": true,
        "x": 670,
        "y": 1260,
        "wires": [
            [
                "a5563bca.50d388"
            ]
        ]
    },
    {
        "id": "a5563bca.50d388",
        "type": "file",
        "z": "de625fbe.57a",
        "name": "",
        "filename": "SmartEnergy_Report.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "ISO-8859-1",
        "x": 890,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "38820c95.a98664",
        "type": "http in",
        "z": "de625fbe.57a",
        "name": "SmartEnergy_Report.csv",
        "url": "http://35.242.248:1880",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 1400,
        "wires": [
            [
                "84ccda14.932fa8"
            ]
        ]
    },
    {
        "id": "e4bd8aa7.4f0a58",
        "type": "http response",
        "z": "de625fbe.57a",
        "name": "response",
        "statusCode": "200",
        "headers": {
            "content-type": "text/plain"
        },
        "x": 660,
        "y": 1400,
        "wires": []
    },
    {
        "id": "de3a5474.1f2618",
        "type": "inject",
        "z": "de625fbe.57a",
        "name": "Start",
        "repeat": "21600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1260,
        "wires": [
            [
                "62ddddcd.30f004"
            ]
        ]
    },
    {
        "id": "84ccda14.932fa8",
        "type": "ui_template",
        "z": "de625fbe.57a",
        "group": "915467a3.7763a8",
        "name": "",
        "order": 1,
        "width": 4,
        "height": 1,
        "format": "<style type=\"text/css\">\n.button {\n    display: block;\n    width: 100px;\n    height: 20px;\n    background: #4E9CAF;\n    padding: 10px;\n    text-align: center;\n    border-radius: 5px;\n    color: white;\n    font-weight: bold;\n    line-height: 25px;\n}\n</style>\n<div ng-bind-html=\"msg.payload\"></div>\n<a class=\"button\" href=\"/SmartEnergy_Report.csv\">Download</a>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 460,
        "y": 1400,
        "wires": [
            [
                "e4bd8aa7.4f0a58"
            ]
        ]
    },
    {
        "id": "a0390332.5f69b",
        "type": "comment",
        "z": "de625fbe.57a",
        "name": "Voltage RMS Real Time",
        "info": "",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "d780c67d.db06d8",
        "type": "comment",
        "z": "de625fbe.57a",
        "name": "Update DataBase",
        "info": "",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "2c9cb5a.68bb04a",
        "type": "comment",
        "z": "de625fbe.57a",
        "name": "Saved Data",
        "info": "",
        "x": 490,
        "y": 880,
        "wires": []
    },
    {
        "id": "5b560aae.2aef04",
        "type": "comment",
        "z": "de625fbe.57a",
        "name": "Download Report",
        "info": "",
        "x": 440,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d13bc4ff.687598",
        "type": "comment",
        "z": "de625fbe.57a",
        "name": "MQTT Broker",
        "info": "",
        "x": 930,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed008ae8.a95c48",
        "type": "e-mail",
        "z": "de625fbe.57a",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 1110,
        "y": 640,
        "wires": []
    },
    {
        "id": "a3b50f16.5d43b",
        "type": "ui_form",
        "z": "de625fbe.57a",
        "name": "Email form",
        "label": "",
        "group": "7825b278.fa93fc",
        "order": 2,
        "width": 6,
        "height": "3",
        "options": [
            {
                "label": "Type your email",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 750,
        "y": 720,
        "wires": [
            [
                "db09cfdd.d0408"
            ]
        ]
    },
    {
        "id": "db09cfdd.d0408",
        "type": "change",
        "z": "de625fbe.57a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "email",
                "pt": "flow",
                "to": "payload.email",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "aad11d2a.cf6fb",
        "type": "change",
        "z": "de625fbe.57a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "email",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 640,
        "wires": [
            [
                "ed008ae8.a95c48"
            ]
        ]
    },
    {
        "id": "8b6ac846.42d8d8",
        "type": "ui_text",
        "z": "de625fbe.57a",
        "group": "7825b278.fa93fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Note:",
        "format": "This is an emercency alert!",
        "layout": "row-left",
        "x": 590,
        "y": 720,
        "wires": []
    },
    {
        "id": "581e17e.6e930e8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1884",
        "clientid": "clientID",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]